*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background: rgb(211, 210, 210);
}
/*------------------------------Navbar------------------------------*/
nav{
    background-color: #131921;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 12px 22px;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 10;
}
nav .deliveryLocation{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 10px;
}
nav .deliveryLocation img{
    margin: 5px;
}
.searchBar{
    display: flex;
    align-items: center;
    flex: 1;
    background: white;
    color: silver;
    max-width: 900px;
    margin-left: 10px;
    border-radius: 5px;
}
.allSearch{
    display: flex;
    align-items: center;
    border-radius: 5px 0 0 5px;
    background: rgb(186, 186, 186);
    padding: 13px 10px;
    gap: 6px;   
    color: #232f3e;
}
.allSearch img{
    width: 10px;
}
#search-input{
    border: none;
    outline: none;
    padding-left: 10px;
    width: 100%;
}
#search-image{
    max-width: 40px;
    padding: 8px 6px;
    background: #f3a847;
    border-radius: 0 3px 3px 0;
}
.languageBar{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
}
.signIn{
    align-items: center;
    padding: 3px;
    margin-left: 10px;
}
.signIn p{
    font-size: 12px;
}
.signIn h2{
    font-size: 17px;
}
.signIn h2 img{
    padding-left: 2px;
    margin-left: 4px;
}
.returnOder{
    margin-left: 10px;
}
.returnOder p{
    font-size: 12px;
}
.returnOder h2{
    font-size: 17px;
}
.shoppingCart{
    display: flex;
    align-items: center;
}
.shoppingCart img{
    width: 40px;
    margin-left: 15px;
}
.shoppingCart h2{
    margin-top: 20px;
    font-size: 15px;
}

/*---------------------------------menu bar--------------------------------*/

.menuBar{
    display: flex;
    align-items: center;
    color: white;
    padding: 10px 17px;
    background: rgb(6, 39, 67);
}
.menuList{
    display: flex;
    align-items: center;
}
.menuList img{
    width: 25px;
}
.menuList h2{
    font-size: 15px;
    margin-left: 4px;
    padding-top: 5px;
}
.deals a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    align-items: center;
}

/*------------------------------------background------------------------------------*/
.backgroundImage ul{
    display: flex;
    overflow-y: hidden;
}
.bgImages{
    max-width: 100%;
    mask-image: linear-gradient(to bottom, white 50%, transparent 100%);
}
.backgroundImage a i{
    position: absolute;
    margin-top: 100px;
    font-size: 70px;
    color: white;
    box-shadow: 3px 3px 5px black;
    border: none;
    border-radius: 15px;
    width: 70px;
    z-index: 1;
}
.previousImage i{
    left: 0;
}
.nextImage i{
    right: 0;
}

/*----------------------------------------Item Cards--------------------------------*/

.itemCards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
    margin: 10px 30px;
}
.itemCards a{
    margin-top: 2%;
    text-decoration: none;
    color: rgb(9, 115, 150);
}
.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    max-width: 25%;
    margin: 10px;
    z-index: 1;
    box-sizing: border-box;
    background: white;
    padding: 10px 15px;
}
.firstCards{
    margin-top: -22vw;
}

/*--------------------------------Top seller---------------------------------------*/
.topSeller{
    display: inline-block;
    margin: 10px 40px;
    background: white;
    max-width: 100%;
    padding: 10px 15px;
}
.topSeller ul{
    display: flex;
    justify-items: center;
    align-items: center;
}
.topSeller a i{
    position: absolute;
    margin-top: 80px;
    font-size: 50px;
    color: white;
    box-shadow: 3px 3px 5px black;
    background: rgb(186, 185, 185);
    border: none;
    border-radius: 15px;
    width: 50px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.previousTopSeller i{
    left: 40px;
}
.nextTopSeller i{
    right: 40px;
}
.topSeller:hover a i{
    opacity: 1;
}
.topSeller h2{
    margin-bottom: 15px;
}
/*-------------------------------------Footer------------------------------------------*/
.footer{
    background: #232f3e;
    padding: 100px 100px;
}
#back-to-top{
    display: block;
    align-items: center;
    width: 100%;
    padding: 15px;
    background: #485769;
    color: white;
    border: none;
}
.footerTop{
    display: flex;
    margin-left: 220px;
    margin-bottom: 40px;
    color: white;
    gap: 70px;
}
.footerTop a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}
.footerTop a:hover{
    text-decoration: underline;
}
.footerTop p{
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 15px;
}
.footerMid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
    background: #232f3e;
    border: none;
    padding-top: 20px;
    padding-bottom: 40px;
}
.footerBoxes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    gap: 10px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
}
.footerMid a img{
    margin-right: 80px;
    margin-top: 15px;
}
hr{
    border: none;
    height: 1px;
    color: white;
}
.footerBelow{
    background: #131a22;
    padding: 100px 100px;
    color: white;
}
.footerBottom{
    display: flex;
    gap: 40px;
    justify-content:space-evenly;
    align-items: center;
    margin-inline: 400px;
}
.footerBottom p{
    font-weight: bold;
    margin-bottom: 10px;
}
.footerBottom div:hover{
    text-decoration: underline;
}
.footerBottom a{
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}
.footerLastPart{
    background: #131a22;
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    font-size: 0.8rem;
}
.footerLastPart a{
    color: white;
    text-decoration: none;
}
.footerLastPart a:hover{
    text-decoration: underline;
}
.textLastFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #131a22;
    color: white;
    font-size: 0.8rem;
}