*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/*------------------------------Navbar------------------------------*/
nav{
    background-color: rgb(2, 2, 46);
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 12px 22px;
}
nav .deliveryLocation{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 10px;
}
nav .deliveryLocation img{
    margin: 5px;
}
.searchBar{
    display: flex;
    align-items: center;
    flex: 1;
    background: white;
    color: silver;
    max-width: 900px;
    margin-left: 10px;
    border-radius: 5px;
}
.allSearch{
    display: flex;
    align-items: center;
    border-radius: 5px 0 0 5px;
    background: rgb(186, 186, 186);
    padding: 13px 10px;
    gap: 6px;   
    color: rgb(59, 58, 58);
}
.allSearch img{
    width: 10px;
}
#search-input{
    border: none;
    outline: none;
    padding-left: 10px;
    width: 100%;
}
#search-image{
    max-width: 40px;
    padding: 8px 6px;
    background: rgb(255, 205, 112);
    border-radius: 0 3px 3px 0;
}
.languageBar{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
}
.signIn{
    align-items: center;
    padding: 3px;
    margin-left: 10px;
}
.signIn p{
    font-size: 12px;
}
.signIn h2{
    font-size: 17px;
}
.signIn h2 img{
    padding-left: 2px;
    margin-left: 4px;
}
.returnOder{
    margin-left: 10px;
}
.returnOder p{
    font-size: 12px;
}
.returnOder h2{
    font-size: 17px;
}
.shoppingCart{
    display: flex;
    align-items: center;
}
.shoppingCart img{
    width: 40px;
    margin-left: 15px;
}
.shoppingCart h2{
    margin-top: 20px;
    font-size: 15px;
}

/*---------------------------------menu bar--------------------------------*/

.menuBar{
    display: flex;
    align-items: center;
    color: white;
    padding: 10px 17px;
    background: rgb(6, 39, 67);
}
.menuList{
    display: flex;
    align-items: center;
}
.menuList img{
    width: 25px;
}
.menuList h2{
    font-size: 15px;
    margin-left: 4px;
    padding-top: 5px;
}
.deals a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    align-items: center;
}

/*------------------------------------background------------------------------------*/
.backgroundImage ul{
    display: flex;
    overflow-y: hidden;
}
.bgImages{
    max-width: 100%;
    mask-image: linear-gradient(to bottom, white 50%, transparent 100%);
}
.backgroundImage a i{
    position: absolute;
    margin-top: 100px;
    font-size: 70px;
    color: white;
    box-shadow: 3px 3px 5px black;
    border: none;
    border-radius: 15px;
    width: 70px;
    z-index: 1;
}
.previousImage i{
    left: 0;
}
.nextImage i{
    right: 0;
}

/*----------------------------------------Item Cards--------------------------------*/

.itemCards{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -22%;
    gap: 20px;
    
}
.itemCards a{
    margin-top: 25%;
    text-decoration: none;
    color: rgb(9, 115, 150);
}
.card1{
    display: block;
    background: white;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    border: 3px solid black;
    
}
.card1 h2{
    margin-bottom: 2%;
}
.card1Images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.card1Images p{
    margin: 4px;
}
.card2{
    display: block;
    background: white;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}
.card2 h2{
    margin-bottom: 2%;
}
.card2 img{
    margin: 4px;  
    margin-bottom: 20px;  
}